name: 'Build plugin on main'

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
      - uses: mlugg/setup-zig@v2
      - name: Build plugin
        run: zig build -Doptimize=ReleaseSafe
      - uses: actions/upload-artifact@v6
        with:
          name: original-apprentice
          path: zig-out/bin
